{% extends 'main.html' %}
 


{% block content %}

<h1>projects</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for project  in projects %}
    <tr>
      <td><a href="{% url 'project' project.id %}">{{project.title}}{%if project.topRated %} <strong>TOP RATED</strong>{%endif%}</a></td>
      <td>{{project.description}}</td>
      <td><a href="{% url 'update-project' project.id  %}">Edit</a></td>
      <td><a href="{% url 'delete-project' project.id  %}">Delete</a></td>

    </tr>

    {%endfor %}
  </tbody>
</table>

  {% endblock content %}